* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 25px;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
  background-color: rgb(6, 6, 78);
  display: flex;
  width: 720px;
  flex-direction: column;
  margin: 300px;
}
Label {
  padding: 5px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 250px;
}

#title {
  text-align: center;
  padding: 5px;
}

P {
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
}

Input {
  width: 250px;
}
