* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 25px;
  

}

.form {
  display: flex;
  flex-direction: column;

}

#main {
  background-color: rgb(6, 6, 78);
  display: flex;
  width: 720px;
  flex-direction: column;
  margin-left: 300px;
}
Label {
  padding: 5px;
  margin: 5px;
  color: white;
}

#title {
  text-align: center;
  padding: 5px;
  color: white;
}

#survey-form{
  width: 720px;
}

#description{
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  color: white;
}

Input {
  margin: 5px;
  padding: 12px;
}

Select{
  margin: 15px;
  padding: 6px;
}
p{
  padding: 5px;
  color: white;
}

#comments{
  min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}
Button{
  color: black;
  padding: 4px;
  margin: 3px;
}